.work-choose{
    display: flex;
    height: 30px;
    cursor: pointer;
}

.left-border-highlight{
    width: 2px;
    height: 0;
    background-color: #5984c8;
    margin-right: 1em;
    transition: all 0.2s ease;
}

.left-border-highlight.active{
    height: 30px;
}

.work-choose .text{
    color: #605555;
    font-family: FiraCode;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

.work-choose .text.active{
    color: #d0baba;
}

@media (max-width: 650px){
    .place-work-choose{
        grid-gap: initial;
        height: initial;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .work-choose{
        flex-direction: column-reverse;
        height: initial;
    }

    .left-border-highlight{
        width: 0;
        height: 2px;
        margin-left: initial;
    }

    .left-border-highlight.active{
        height: 2px;
        width: 100%;
    }

    .work-choose .text{
        justify-content: center;
        padding: 1em;
    }
}