.social-container{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.social-container .social-container-icon{
    opacity: 0;
    top: 5px;
    transition: all 0.2s ease;
}

.social-container .social-container-icon.enter-done{
    opacity: 1;
    top: 0;
}

.social-container svg{
    cursor: pointer;
    padding: 0.2em;
    margin: 0.2em;
    font-size: 20px;
    position: relative;
    top: 0;
    transition: top 0.2s ease;
}

.social-container .social-container-icon:hover{
    top: -5px;
}

.social-container .social-container-icon:hover > path{
    color: #d9e8ff;
}

.social-container svg path{
    color: #9cafcc;
    transition: all 0.2s ease;
}

@media (max-width: 883px){
    .social-container{
        display: none;
    }
}