.button{
    background: none;
    cursor: pointer;
    border: none;
    font-size: 1em;
    font-family: FiraCode;
    padding: 0.5em 1em;
    border: 1px solid #d0baba;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.button:hover{
    background-color: #304360;
}

@media (max-width: 721px){
    .button{
        font-size: 0.8em;
    }
}