.about-me{
    display: flex;
}

.about-me .description{
    width: calc(100% - 300px);
    margin-right: 1em;
}

.about-me .description .highlight{
    color: white;
}

.portrait{
    width: 300px;
    height: 300px;
    cursor: pointer;   
    position: relative;
}

.portrait img{
    width: 100%;
    box-shadow: 5px 5px 10px 1px #0000007a;
}

.portrait .tape-triangle{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 38px 38px 0;
    border-color: transparent #2d2d2d transparent transparent;
    pointer-events: none;
}

.portrait .github{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px;
    pointer-events: none;
}

.description .tech-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.description .tech-grid .arrow{
    margin-right: 1em;
}

.description .tech-grid .arrow path{
    color: #5984c8;
}

@media (max-width: 883px){
    .about-me{
        flex-direction: column;
    }

    .about-me .description{
        margin-right: initial;
        width: initial;
    }

    .portrait{
        margin: 2em auto;
    }
}

@media (max-width: 559px){
    .portrait{
        width: 100%;
        height: auto;
        max-width: 200px;
        max-height: 200px;
    }
}