.about-me{
    display: flex;
}

.about-me .description{
    width: calc(100% - 300px);
    margin-right: 1em;
}

.about-me .description .highlight{
    color: white;
}

.portrait{
    width: 300px;
    height: 300px;
    cursor: pointer;    
    /* box-shadow: 10px 10px #d9e8ff; */
    box-shadow: 5px 5px 10px 1px #0000007a;
}

.portrait img{
    width: 100%;
}

.description .tech-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.description .tech-grid .arrow{
    margin-right: 1em;
}

.description .tech-grid .arrow path{
    color: #5984c8;
}

@media (max-width: 883px){
    .about-me{
        flex-direction: column;
    }

    .about-me .description{
        margin-right: initial;
        width: initial;
    }

    .portrait{
        margin: 2em auto;
    }
}

@media (max-width: 559px){
    .portrait{
        width: 100%;
        height: auto;
        max-width: 200px;
        max-height: 200px;
    }
}