nav{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    padding: 1em;
    font-size: 0.8em;
    z-index: 1;
    background-color: #06162f;
    overflow: hidden;
    transition: all 0.2s ease;
}

.navbar-desktop{
    display: flex;
}

.navbar-mobile{
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000003d;
    display: flex;
    justify-content: flex-end;
}

.navbar-mobile-container{
    background-color: #06162f;
    width: 70vw;
    box-shadow: -5px 0px 10px 1px #0000007a;
}

.navbar-mobile-toggle-button{
    z-index: 1;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    box-sizing: border-box;
    cursor: pointer;
}

.navbar-mobile-toggle-button .toggle-button-bar{
    width: 100%;
    height: 3px;
    background-color: #d9e8ff;
}

.navbar-mobile-container-options{
    margin-top: 90px;
}

.navbar-mobile-container-options .option{
    padding: 1em;
    color: #d9e8ff;
    font-family: FiraCode;
    font-size: 1.2em;
    cursor: pointer;
}

/* .navbar-mobile-toggle-button .toggle-button-bar.top{
    
}

.navbar-mobile-toggle-button .toggle-button-bar.middle-one{
    
}

.navbar-mobile-toggle-button .toggle-button-bar.middle-one{
    
}

.navbar-mobile-toggle-button .toggle-button-bar.bottom{
    
} */



.logo{
    cursor: pointer;
    width: 35px;
    padding: 0.5em;
    display: block;
}

ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li{
    font-family: FiraCode;
    padding: 0.5em;
    cursor: pointer;
    margin: 0 1em;
}

li:hover{
    color: #d9e8ff;
}

nav ul .right{
    display: flex;
}