.footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .text{
    font-family: FiraCode;
    font-size: 0.7em;
}

.text.email{
    display: none;
    text-decoration: none;
    transition: all 0.2s ease;
}

.text.email:hover{
    color: #d9e8ff;
}

.social-icons{
    display: none;
}

.social-icon{
    cursor: pointer;
    padding: 0.2em;
    margin: 0.2em;
    font-size: 20px;
}

.social-icon path{
    color: #9cafcc;
    transition: all 0.2s ease;
}

.social-icon:hover > path{
    color: #d9e8ff;
}


@media (max-width: 883px){
    .text.email{
        display: block;
    }

    .social-icons{
        display: block;
    }
}